[submodule "unity"]
	path = unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "test/ext/supreme"]
	path = test/ext/supreme
	url = https://github.com/FranFrau/Supreme-Tester-Libft.git
[submodule "test/ext/Libftest"]
	path = test/ext/Libftest
	url = https://github.com/jtoty/Libftest.git
